{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="blog-section spad">
   
                
            <div class="container">
                <div class="row ">
        
                  <div class="col-12">
                      <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail " style="color:blue;" >&nbsp;</th>
                                    <th class="product-name" style="color:blue;" >Produit</th>
                                    <th class="product-price" style="color:blue;" >Prix</th>
                                    <th class="product-quantity" style="color:blue;" >Quantité</th>
                                    <th class="product-subtotal" style="color:blue;" >Total</th>
                                    <th class="product-remove" style="color:blue;" >Supprimer</th>
                                </tr>
                            </thead> 
                            <tbody>
                              {% if app.session.get('cart') %}
                                {% for element in cart.products %}
                                    <tr>
                                    
                                        <td class="product-thumbnail" style="color:black;" ><a ><img height="100" width="100" src="/uploads/{{element.product.image}}" alt="{{element.product.nameProduct}}"></a></td>
                                        <td class="product-name"  style="color:black;" data-title="Product"><a>{{element.product.nameProduct}}</a></td>
                                        <td class="product-price" style="color:black;" data-title="Price">{{element.product.price/100}}</td>
                                        <td class="product-quantity" style="color:black;" data-title="Quantity"><div class="quantity">
                                        <a href="{{ path('cartDelete', {'id':element.product.id})}}" type="button" value="-" class="minus" style="color:black;"> - </a>
                                        <input type="text" name="quantity" value="{{element.quantity}}" title="Qty" class="qty"  style="color:black;" size="4">
                                        <a href="{{ path('cartAdd', {'id':element.product.id})}}" type="button" value="+" class="plus" style="color:black;"> + </a>
                                        </div></td>
                                        <td class="product-subtotal" style="color:black;" data-title="Total">€ {{ element.quantity * element.product.price/100 }}</td>
                                        <td class="product-remove" style="color:black;"  data-title="Remove"><a href="{{ path('cartDeleteAll', {'id':element.product.id})}}"><i class="ti-close" style="color:black;"></i></a></td>
                                    </tr>

                                {% endfor %}
                               {% else %}
                                    <p>Votre panier est vide !<a href="{{ path('accueil')}}"> Poursuivre vos achats</a> </p>
                                {% endif %}
                            </tbody>
                            <tfoot>
                               <tr>
                                    <th class="product-thumbnail " style="color:blue;" >&nbsp;</th>
                                    <th class="product-name" style="color:blue;" >Produit</th>
                                    <th class="product-price" style="color:blue;" >Prix</th>
                                    <th class="product-quantity" style="color:blue;" >Quantité</th>
                                    <th class="product-subtotal" style="color:blue;" >Total</th>
                                    <th class="product-remove" style="color:blue;" >Supprimer</th>
                                </tr>
                            </tfoot>
                        </table>
                         <p><a class="btn btn-fill-out" href="{{ path('accueil')}}">Poursuivre vos achats</a></p>
                      </div>
                  </div>
              </div>   
              <div class="row">
                  <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                  </div>
              </div> 
                       
              <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6 style="color:black;">Panier Totaux</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label" style="color:black;">Panier Sous total HT</td>
                                        <td class="cart_total_amount" style="color:black;">DNT {{ cart.data.subTotalHT}}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label" style="color:black;">Taxe (20%) </td>
                                        <td class="cart_total_amount" style="color:black;">DNT {{ cart.data.Taxe }}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label" style="color:black;">Total TTC</td>
                                        <td class="cart_total_amount" style="color:black;"><strong>€ {{ cart.data.subTotalTTC  }}</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('app_checkout',{'total':cart.data.subTotalTTC})}}" class="btn btn-fill-out">Valider votre commande</a>
                    </div>
                  </div>
              </div>
         </div>
      </div>

{% endblock %}
